html
    head
        script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
        script(src='js/bootstrap.min.js')
        script(src='//d3js.org/d3.v3.min.js')
        script(src='js/base64.js')
        script(src='js/grid-sd.js')
        script(src='js/grid.js')
        link(rel='stylesheet', href='css/style.css')
    body
        != contents
